@charset "utf-8";
/* CSS Document */
.information{
	margin-left:50px;
	margin-top:40px;
	background-color:#e0e0e0;
	height:70px;
	width:85%;
	border-radius:5px;
	}     
	
.name{
	height:70px;
	background-color:#bbdefb ;
	width:25%;
	border-radius:5px;
	text-align:center;
	line-height:70px;
	vertical-align:middle;	
	float:left;
	font-size:1.5em;
	font-family:"华文行楷", "宋体", "微软雅黑";
	
	}
.major{
	height:70px;
	width:50%;
	border-radius:5px;
	text-align:center;
	line-height:70px;
	vertical-align:middle;	
	float:left;
	}
.target{
	height:70px;
	width:25%;
	border-radius:5px;
	text-align:center;
	line-height:70px;
	vertical-align:middle;	
	float:left;
	}
